$max-width: 1440px;
$container-width: 90vw;


$nav-height: 6rem;
$footer-height: 4rem;
$layout-min-height: calc(100vh - #{$nav-height} - #{$footer-height});

$light-color-0: #FFF;
$light-color-20: #F9FBF1;
$light-color: #EEF4D4;
$dark-color: #1C2826;
$accent1-color: #DAEFB3;
$accent2-color: #EA9E8D;