@import "../../assets/css/variables";

.Navbar {
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: $nav-height;
  //background: $nav-color;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $light-color-0;

  .NavbarCenter {
    height: inherit;
    display: flex;
    flex-direction: row;
    width: 90vw;
    max-width: $max-width;

    .Logo {
      height: inherit;
      font-size: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-shadow: 0 0 10px #1C2826;
      user-select: none;
      cursor: pointer;
      font-weight: 700;

      span {
        color: #EA9E8D;
        text-shadow: 0 0 10px #EA9E8D;
      }
    }

    .LinksList {
      margin: 0 4rem;
      padding: 0;
      height: inherit;
      display: none;
      flex-direction: row;
      list-style: none;
      gap: 2rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        text-transform: capitalize;

        a{
          text-decoration: none;
          color: inherit;
        }
      }
    }

    .End-wrap {
      margin-left: auto;
      height: inherit;
      display: flex;
      align-items: center;
      justify-self: center;

    }
  }
}


@media (min-width: 1150px) {

  .Navbar{
    .NavbarCenter{
      .LinksList{
        display: flex;
      }
    }
  }

}
